@use "sass:color";
@use "./variables" as *;

@mixin base-button-styles {
  padding: $spacing-sm $spacing-md;
  border: none;
  border-radius: $border-radius;
  cursor: pointer;
  font-size: $font-size-base;
  transition: background-color 0.3s ease;

  &:disabled {
    background-color: $disabled-color;
    cursor: not-allowed;
  }
}

@mixin primary-button-styles {
  background-color: $primary-color;
  color: white;

  &:hover:not(:disabled) {
    background-color: color.adjust($primary-color, $lightness: -10%);
  }
}

@mixin secondary-button-styles {
  background-color: $secondary-color;
  color: white;

  &:hover:not(:disabled) {
    background-color: color.adjust($secondary-color, $lightness: -10%);
  }
}
