@use '../../../styles/variables' as *;

.chat-messages-list {
  flex-grow: 1;
  overflow-y: auto;
  padding: $spacing-sm;
  display: flex;
  flex-direction: column;
  gap: $spacing-sm; // Space between messages

  .loading-more {
    text-align: center;
    padding: $spacing-sm;
    color: $text-color-tertiary;
  }
}
